{% extends "theme/base_dashboard.html" %}
{% load static %}
{% load i18n %}

{% block title %}        
  {% if LANGUAGE_CODE == "fr" %}
      <p>{{ story.title_fr|linebreaks }}- RAWINA</p>
    {% else %}
      <p>{{ story.title_en|linebreaks }}- RAWINA</p>
  {% endif %}
{% endblock %}

{% block content %}
<div 
  class="min-h-screen bg-sand-beige flex items-center justify-center px-6 py-16 shadow-lg border-y-4 border-sage-green bg-cover bg-center"
  style="background-image: url('{% static 'images/forest_bg.png' %}')"> 

    <div class="w-full max-w-4xl  border-4 border-sand-beige rounded-lg shadow-2xl p-8 bg-sage-green backdrop-blur-sm">
    
    <div class="text-center">
      {% if LANGUAGE_CODE == "fr" %}
          <h1 class="text-3xl font-bold text-deepviolet mb-2">{{ story.title_fr|linebreaks }}</h1>
        {% else %}
          <h1 class="text-3xl font-bold text-deepviolet mb-2">{{ story.title_en|linebreaks }}</h1>
      {% endif %}
      <p class="text-sm text-gray-600 font-medium">
        {% blocktrans with theme=story.get_theme_display created=story.created_at|date:"F j, Y" %}
          Theme: {{ theme }} • Created on {{ created }}
          {% endblocktrans %}
      </p>
    </div>

    <div class="prose prose-lg max-w-none text-gray-800 leading-relaxed">
          {% get_current_language as LANGUAGE_CODE %}

      <div class="prose prose-lg max-w-none text-gray-800 leading-relaxed">
        {% if LANGUAGE_CODE == "fr" %}
          <p>{{ story.generated_text_fr|linebreaks }}</p>
        {% else %}
          <p>{{ story.generated_text_en|linebreaks }}</p>
        {% endif %}
      </div>
    </div>

    <div class="text-center text-sm text-gray-600">
      <a href="{% url 'rawina:dashboard' %}" class="text-softbrown hover:underline">
        {% trans "Back to Dashboard" %}
      </a>
    </div>
  </div>
</div>
{% endblock %}
